/* Layout with Flexbox */
.gallery {
 display: flex;
 flex-flow: row wrap;
}

figure {
  background: #eee;
  /* Note: Figures have default 1em margin. Optionally override. */
  padding: 1em;
  /* Set `flex-basis` to any value */
  flex: 1 0 300px;
  
  /* Child & Also Parent   */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

/* Specific Gallery Styling. Have Fun! */
figure img {

}

figure p {
  
}

/* Lightbox Overlay */
/* hide  */
.overlay {
  display: none;
  
/* Overlay Styling   */
  background:rgba(0,0,0,.75);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  
    animation: fadeIn 1s;
}

/* show */
.overlay:target {
  display: block;
 
  /* Flexbox Vertical & Horizontal Centering */
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  align-items: center;  
  
    animation: fadeIn 1s;
}

/* Close Button  */
.overlay a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

