/***************/
/* YOUR STYLES */
/***************/
body {
    background: #F4F4F4;
}
/* Color Palette */
.color-1 {
    
    background: #373737;
}
.color-2 {
    
    background: #F4F4F4;

}

.color-3 {
    
    background: #C0B283;
}

.color-4 {
    
    background: rosybrown;
}



/* Textures or Patterns*/

.pattern-1{
        background: url(../img/footer_lodyas.png)
    }

.pattern-2{
        background: url(../img/gplaypattern.png)
    }

.pattern-3{
        background: url(../img/upfeathers.png)
}

            
/* Imagery */


/* Icons */


/* Navigation */
li {
    list-style-type: none;
}

.navlink {
    color: #373737;
    text-decoration: none;
    font-weight: 900;
}

a {
    color: rosybrown;
    font-weight:400
}

a:hover {
  color: #C0B283 ;
  background: none;
}

a:active{
    background:none;   
}

button {
    background-color: #C0B283;
    color: #F4F4F4;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 6px;
}

button:hover {
    background-color: #373737 ;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 6px;
}

/* Typography */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Source+Sans+Pro:300,700');

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 2em;
    color: #C0B283;
}

h3, h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    font-variant: small-caps;
    color: #373737;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #373737;

}
